* {
    box-sizing: border-box;
  }
  
  #root {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  #root {
    background: #f0f0f0;
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .script-box {
    will-change: width, height, left, top;
    position: relative;
  }
  