/* Base */
body {
    line-height: 1.7;
    color: #4d4d4d;
    font-weight: 400;
    /* font-size: 1rem; */
    font-family: 'Roboto Mono', SFMono-Regular, Menlo, Monaco, Consolas,
      'Liberation Mono', 'Courier New', monospace;
    font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  ::-moz-selection {
    background: #000;
    color: #fff;
  }
  
  ::selection {
    background: #000;
    color: #fff;
  }
  
  .line-height-sm {
    line-height: 1.4 !important;
  }
  
  a {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  a:hover {
    text-decoration: none;
  }
  
  .text-black {
    color: #000 !important;
  }
  
  .bg-black {
    background: #000 !important;
  }
  
  /* Navbar */
  .site-navbar-top .site-logo {
    font-size: 2rem;
  }
  
  .site-navbar-wrap {
    position: relative;
    z-index: 99;
    width: 100%;
  }
  .site-navbar-wrap a {
    color: #000;
  }
  .site-navbar-wrap .site-navbar-top {
    font-size: 0.8rem;
  }
  
  .site-navbar {
    margin-bottom: 0px;
    width: 100%;
    border-bottom: none;
    z-index: 2;
    position: relative;
  }
  .site-navbar .site-logo {
    font-weight: 200;
  }
  .site-navbar .site-logo a {
    font-weight: 200;
    color: #000;
  }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
  }
  .site-navbar .site-navigation .site-menu .active > a {
    color: #000;
  }
  .site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    display: inline-block;
  }
  .site-navbar .site-navigation .site-menu > li {
    display: inline-block;
    padding: 10px 5px;
  }
  .site-navbar .site-navigation .site-menu > li > a {
    padding: 10px 10px;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none !important;
  }
  .site-navbar .site-navigation .site-menu > li > a:hover {
    color: #000;
  }
  .site-navbar .site-navigation .site-menu > li:last-child {
    padding-right: 0;
  }
  .site-navbar .site-navigation .site-menu > li:last-child > a {
    padding-right: 0;
  }
  
  
  .site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
  }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
  }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px;
  }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0px;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
    color: #25262a;
  }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
    float: left;
    margin-top: 10px;
    margin-left: 0px;
  }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
    display: inline-block;
    text-transform: uppercase;
  }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
    max-width: 70px;
  }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
    text-decoration: none;
  }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
  }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
  }
  .site-mobile-menu .site-nav-wrap a {
    padding: 10px 20px;
    display: block;
    position: relative;
    color: #212529;
  }
  .site-mobile-menu .site-nav-wrap a:hover {
    color: #26baee;
  }
  .site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block;
  }
  .site-mobile-menu .site-nav-wrap li.active > a {
    color: #26baee;
  }
  .site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
  }
  .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
    background: #f8f9fa;
  }
  .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
    font-size: 12px;
    z-index: 20;
    font-family: 'icomoon';
    content: '\f078';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
    -ms-transform: translate(-50%, -50%) rotate(-180deg);
    transform: translate(-50%, -50%) rotate(-180deg);
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .site-mobile-menu .site-nav-wrap > li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
  }
  .site-mobile-menu .site-nav-wrap > li > a {
    padding-left: 20px;
    font-size: 20px;
  }
  .site-mobile-menu .site-nav-wrap > li > ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .site-mobile-menu .site-nav-wrap > li > ul > li {
    display: block;
  }
  .site-mobile-menu .site-nav-wrap > li > ul > li > a {
    padding-left: 40px;
    font-size: 16px;
  }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
    padding: 0;
    margin: 0;
  }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
    display: block;
  }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
    font-size: 16px;
    padding-left: 60px;
  }
  