/* .login-form {
    width: '100%';
    max-width: 400px;
    padding: 15px;
    margin: auto;
    height: '100%';
    padding-top: 15vh;
}

.sub {
    padding: 10px;
} */

/* .login-form {
    width: '100%';
    max-width: 400px;
    padding: 15px;
    margin: auto;
    height: '100%';
    padding-top: 15vh;
}

.sub {
    padding: 10px;
} */

:root {
  --inputBgColor: rgb(240, 240, 240);
  --appBlue: #0069d9;
}

.auth_div {
  background-color: white;
  height: 100vh !important;
}
.auth_right_col {
  background-color: white;
  height: 100vh;
}
.auth_left_col {
  height: 100vh;
  background-color: var(--appBlue);
}
.auth_heading {
  font-weight: 500;
}
.login_text {
  color: var(--appBlue);
  cursor: pointer;
}
.input_label {
  font-size: 12px;
  color: grey;
  margin: 0;
}

.input_field {
  background-color: var(--inputBgColor);
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
}

.password_input {
  background-color: var(--inputBgColor);
  border: none;
  width: 100%;
  border-radius: 5px;
}
.input_field:focus {
  outline: none;
  border: 1px solid #007bff42;
}

.star {
  color: rgb(255, 99, 99);
}

.app_primary_button {
  background-color: var(--appBlue);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: 500ms;
}

.auth_button_1 {
  width: 100%;
}

.auth_button_2 {
  background-color: white;
  color: var(--appBlue);
  margin-top: 20px;
}

.auth_logo {
  width: 250px;
}

.disc_div {
  margin-top: 70px;
}
.sudoEMR {
  font-weight: 900;
  font-size: 20px;
}
.disc_div > a {
  color: white;
}
.auth_doc {
  opacity: 0.5;
}

.left_col_content_div {
  height: 100vh;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.modal_closer {
  font-size: 30px;
  background-color: var(--inputBgColor);
  border-radius: 5px;
  color: var(--appBlue);
  cursor: pointer;
  transform: 500ms;
}

.auth_div_2 {
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth_div_wrapper {
  width: 33.33%;
  padding: 20px;
  border-radius: 10px !important;
  border: none !important;
}

.signup_container {
  background-color: white !important;
  height: 100vh !important;
}

.signup_title {
  font-weight: 900;
  font-size: 30px;
  color: black !important;
}
