.pharmacyModule {
    display: flex;
    flex-direction: column;
}

.pharmacyModule .side-bar {
    color: white;
    background-color: grey;
    /* border-radius: 5px; */
    text-align: left; 
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.sidebar li a:hover {
  background-color: #0099ff;
  border: none;
  color: white;
}

.pharmacyModule li {
  /* padding: 1px; */
  font-weight: bold;
}

.module-pic {
    display: none;
}

.anchor {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.pharmacyModule li:hover {
  background-color: grey;
  color: white;
  text-decoration: none;
}

.side-bar h4 {
  font-weight: bold;
}

.moduleItems {
    width: 100%;
}

.moduleItemsContainer {
    width: 100%;
    height: 700px;
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .pharmacyModule {
        display: flex;
    }
}

@media screen and (min-width: 1000px) {
    .pharmacyModule{
        display: flex;
        flex-direction: row;
    }

    .moduleItems {
        width: 25%;
    }
    
    .moduleItemsContainer {
        width: 50%
    }

    .free-scroll {
        width: 100%;
        height: 300px;
    }

    .module-pic {
        display: flex;
        width: 100%
    }

    /* .module-img {
        width: 100%;
        height: 60vh;
    } */
}

